.navigation-bar{
    background-color: cadetblue;
}

.navigation-bar ul {
    border: 2x solid #e7e7e8;
    text-decoration: none;
}

.navigation-bar li{
    text-decoration: none;
    list-style-type: none;
}

h3 a{
text-decoration: none;    
}

.postcontainer{
    display: block;
    background-color: cadetblue;
}