

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <script src="{% static "js/test.js" %}"></script>

    <title>Document</title>
    
</head>
<body>
    <nav class="navigation-bar">
        <ul>
            <li>home</li>
            <li>about</li>
            <li>contact</li>
        </ul>
    <form method="POST" action="{% url 'blogdev:search' %}">
        {% csrf_token %}
        <input type="search" name="query">
        <button type="submit">Search</button>
    </form>
  
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>